<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="calculadora" method="post">
        <label for="n1">Primeiro Número</label>
        <input type="text" name="n1">
        <label for="operador">Selecione o operador</label>
        <select name="operador" id="teste">
            <option value="mais">+</option>
            <option value="menos">-</option>
            <option value="vezes">x</option>
            <option value="divisao">/</option>
        </select>
        <label for="n2">Segundo Número</label>
        <input type="text" name="n2">
        <input type="submit" value="Calcular">
    </form>
    
</body>
</html>